/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgb(179, 183, 185);
}

.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #ffffff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#content_main2 {
  max-width: 800px;
  height: 200px;
}

#content_main2_left {
  float: left;
  width: 20%; /* Adjust to your preference or use media queries */
  height: 100px;
  margin-top: -40px;
  border-radius: 15px;
  background: #817339;
}

.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

.container .form {
  margin-top: 30px;
}

.form .input-box {
  width: 100%;
  margin-top: 20px;
}

.form input,
.form select {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.form input:focus,
.form select:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.form .gender-box {
  margin-top: 20px;
}

.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.form .gender {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}

.gender input {
  accent-color: rgb(130, 106, 251);
}

.form input,
.form label,
.gender label {
  cursor: pointer;
}

.gender label,
.input-box label {
  color: #505050;
}

.address input,
.address select {
  margin-top: 15px;
}

.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(8, 126, 100);
}

.form button:hover {
  background: rgb(88, 56, 250);
}

/* Responsive */
@media screen and (max-width: 500px) {
  .container {
    padding: 15px;
  }

  .container header {
    font-size: 1.3rem;
  }

  .form .column {
    gap: 10px;
  }

  .form .gender {
    row-gap: 10px;
  }
}
